* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.home-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("./images/header.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home-container {
  height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
  margin: 0;
  font-size: 3rem;
}

.fullname {
  color: #4a90e2;
}

.intro-button {
  border: 1px solid white;
  margin: 40px;
  height: 45px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.intro-button:hover {
  cursor: pointer;
  color: #1f3044;
  border: #fb9039;
  background-color: #fb9039;
  transition: 0.3s;
}

.nav-section {
  position: absolute;
  width: 100%;
}

.navbar {
  color: #9fa7af;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  height: 60px;
  font-size: 1.3rem;
  margin: 0 80px;
}

.about-section {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  color: #1f3044;
}

.about-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.left-side {
  width: 50%;
}

.about-header {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 9px;
}

.about-paragraph {
  line-height: 1.5rem;
}

.language-logo {
  height: 150px;
  margin: 0 auto;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  gap: 30px;
}

.sql-child {
  grid-column: 1 / -1;
}

.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px 80px;
}

.project-image {
  height: 200px;
  width: 380px;
  display: flex;
  position: relative;
  margin: auto;
}

.project-card {
  position: relative;
  display: flex;
  justify-content: center;
}

.project-card-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 100%;
  background-color: white;
  color: black;
}

.fade-in {
  animation: fadein 0.5s ease-in;
}

.card-title {
  font-size: 1.4rem;
  margin: 10px 10px 20px;
  color: #4a90e2;
}

.card-language {
  margin: 0;
  font-size: 1rem;
  color: #fb9039;
}

.card-description {
  width: 90%;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio {
  min-height: 100vh;
  width: 100%;
  background-color: #1f3044;
  color: white;
  padding-bottom: 50px;
}

.project-heading {
  padding: 50px 0 30px;
}
