* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.home-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("./images/header.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home-container {
  height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
  margin: 0;
  font-size: 3rem;
}

.fullname {
  color: #1181b2;
}

.nav-section {
  position: absolute;
  width: 100%;
}

.nav-selection:hover {
  color: #1181b2;
  cursor: pointer;
}

.navbar {
  color: #9fa7af;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  height: 60px;
  font-size: 1.3rem;
  margin: 0 80px;
}

.resume {
  color: inherit;
  text-decoration: none;
}

.about-section {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  color: #1f3044;
}

.about-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.left-side {
  width: 50%;
}

.about-header {
  font-family: "Notable", sans-serif;
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 9px;
}

.about-paragraph {
  line-height: 1.5rem;
}

.language-logo {
  height: 150px;
  margin: 0 auto;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  gap: 30px;
}

.sql-child {
  grid-column: 1 / -1;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin: 40px 80px;
}

.project-image {
  height: 200px;
  width: 380px;
  display: flex;
  position: relative;
  margin: auto;
}

.project-card {
  position: relative;
  display: flex;
  justify-content: center;
}

.project-card-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 100%;
  background-color: #1181b2;
  color: #ddedf4;
}

.fade-in {
  animation: fadein 0.5s ease-in;
}

.card-title {
  font-size: 1.4rem;
  margin: 10px 10px 20px;
}

.card-language {
  margin: 0;
  font-size: 1rem;
}

.card-description {
  width: 90%;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio {
  min-height: 100vh;
  width: 100%;
  background-color: #212221;
  color: #1181b2;
  padding-bottom: 50px;
}

.project-heading {
  padding: 50px 0 30px;
}

.footer {
  text-align: center;
  background-color: #1181b2;
  margin: 0;
}

.footer__social-links {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  list-style: none;
  margin: 0;
}

.footer__social-link-item:not(:last-of-type) {
  margin-right: 2rem;
}

.footer__social-image {
  height: 4rem;
}

.footer__github-buttons {
  display: flex;
  justify-content: center;
}

.footer__github-buttons iframe {
  height: 2.5rem;
  width: 80px;
  transform: translateY(3px);
}

@media screen and (max-width: 700px) {
  .introduction {
    font-size: 2.5rem;
    width: 96%;
  }

  .footer__social-image {
    height: 2rem;
  }
  .about-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .skills-container {
    margin-top: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .language-logo {
    height: 60px;
  }
  .navbar {
    font-size: 0.9rem;
    padding: 0;
    gap: 30px;
    justify-content: center;
  }

  .project-image {
    height: 170px;
    width: 275px;
  }

  .project-heading {
    letter-spacing: 4px;
  }

  .project-card-info {
    height: 170px;
    width: 275px;
  }

  .projects-section {
    margin: 0;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-description {
    font-size: 0.8rem;
  }
  .card-language {
    font-size: 0.7rem;
  }

  .home-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url("./images/header.png");
    background-position: center center;
    background-attachment: fixed;
  }
}
